.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

#title .download-icons {margin: 0 5px 5px 0;}
#title .navbar {padding: 20px;}
#title .white-text, #footer .white-text {color: white;}
#features .container {margin: 50px;}
#testimonial {background-color: #f5f5f5;}
#testimonial .row {margin-top: 50px;}
#testimonial .marketing {
   text-align: center;
   padding: 50px 0;
}
#testimonial .puppy {
   margin: 50px 0 20px;
   border-radius: 50%;
}

